/*
    Nombre tipografía | peso | tamaño de texto | alto de linea
    Título: Zilla Slab | bold(700) | 70px | 84px
    Título Secundario: Zilla Slab | bold(700) | 50px | 60px
    Título Secundario - extra: Raleway | black(900) | 18px | 23px
    parrafo: Raleway | regular(400) | 18px | 23px
    botones: Raleway | bold(700) | 18px | 23px
*/

